.wrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.staticImage{
  width: 300px;
}

.heading{
  font-size: 25px;
  color: #444444;
  margin-bottom: 10px;
}
.imageDiv{
  /* giving the image container parent div position: relative is very importanat */
  position: relative;
  width: 300px;
  aspect-ratio: 3/4;
  object-fit: cover;
  box-shadow: 3px 4px 10px 2px #0000005e;
}
.imageDiv{
}